<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Chuck your Friends (CyF)</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="chuck.css" />
</head>
<body>
    <div class="container d-flex h-100vh" style="height: 100vh;" id="app">
        <div class="card m-auto w-18">
            <img src="chuck.png" class="card-img-top" alt="An icon of Chuck Norris, the icon">
            <div class="card-body">
                <h5 class="card-title">In the eyes of a ranger…</h5>
                <p class="card-text"><q v-html="chucking"></q></p>
                <form class="mb-3">
                    <div class="form-row">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="First name" v-model="firstName" />
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Last name" v-model="lastName" />
                        </div>
                    </div>
                </form>
                <button type="button" class="btn btn-danger" @click="fetchJoke">Chuck your Friend!</button>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <script src="chuck.js"></script>
</body>
</html>
